.App {
  text-align: center;
  background-color: black;
  background-image: url('dd.jpg');
  background-repeat: no-repeat;
  background-size: cover;


}

.para {
  color: black;
}

/* .App-logo {
  height: 40vmin;

} */

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

.Button1 {

  background-color: rgb(14, 146, 91);
  border: 2px solid #4CAF50;
  text-decoration: solid;
  color: rgb(237, 234, 245);
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  display: inline-block;



}

.Button1:hover {
  cursor: pointer;
  background-color: rgb(10, 94, 66);
  color: azure;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */